html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
body {
	padding-top: 50px;
	padding-top: 3.125rem;
}
h2 {
	font-size: 40px;
	font-size: 2.5rem;
	text-transform: lowercase;
	text-align: center;
	font-family: 'Raleway', serif;
}
h3 {
	font-size: 24px;
	font-size: 1.5rem;
	text-transform: lowercase;
	font-family: 'Raleway', serif;
}
hr {
	width: 35%;
	border: solid 1px #000;
	margin: 0 auto;
	opacity: 0.12;
}

#backButton {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1500;
    width: 50px;
    height: 50px;
}
#backButton span {
    color: #000;
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}

/********** **********
*     INFO SECTION
*********** **********/
.info-section {
	text-align: center;
	width: 95%;
	margin: -50px auto 50px;
	margin: -3.125rem auto 3.125rem;
	padding-top: 100px;
	padding-top: 6.25rem;
}
.section-title {
	margin: 0 0 32px;
	margin: 0 0 2rem;
}

/********** **********
*        NAVBAR
*********** **********/
.navbar-brand {
	text-transform: uppercase;
}
.navbar-right {
	text-transform: lowercase;
}
#cube {
	display: inline-block;
	vertical-align: middle;
	padding: 8px;
	padding: 0.5rem;
}
#cube svg {
	display: block;
	margin: auto;
}

/********** **********
*   SECTION - NAME
*********** **********/
#name {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../raw/cover-min.jpg");
	background-size: cover;
	background-position: bottom;
	filter: saturate(1.25);
	-webkit-filter: saturate(1.25);
	margin-bottom: 50px;
	margin-bottom: 3.125rem;
}
#name h1 {
	margin: 0;
	color: #FFF;
	font-size: 80px;
	font-size: 5rem;
	font-family: 'Roboto';
    font-weight: 600;
    letter-spacing: 1px;
}

/********** **********
* SECTION - PROFILE
*********** **********/
#profile {
	/* Center horizontally and vertically */
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#profile .section-title {
	color: #3498db;
}
#profile>p {
	font-size: 22px;
	font-size: 1.375rem;
	text-transform: lowercase;
	font-style: italic;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}
#profile h3 {
	font-size: 24px;
	font-size: 1.5rem;
	color: #3498db;
}

#left-profile {
	text-align: left;
}
@media only screen and (min-width : 992px) {
	#left-profile {
		text-align: right;
	}
}
#profile-pic {
	max-width: 375px;
	box-shadow: 0 0 5px;
	display: inline;
}
#right-profile {
	text-align: left;
}

/********** **********
*SECTION - EXPERIENCES
*********** **********/
.experience {
	background: aliceblue;
	box-shadow: 0 0 2px #000;
	font-family: 'Roboto', sans-serif;
	display: grid;
	grid-template-columns: 8rem 1fr;
}
.experience-title {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: flex-start;
	align-items: center;
	padding: 1rem;
}
.experience-title h3 {
	margin: 0;
}
.experience:hover {
	background: rgb(184, 235, 255);
	/* box-shadow: 0 0 16px #000; */
}
.experience:hover .exp-content-container {
	background: #f8f8f8;
}
.exp-icon {
	padding: 2rem;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: 1fr;
	align-items: center;
}
.exp-icon img {
	width: 100%;
}
.exp-content-container {
	background: #fff;
	display: grid;
	grid-template-rows: auto 1fr;
	padding: 2rem;
}
.exp-header {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}
.exp-title {
	font-weight: 700;
	font-size: 1.125rem;
	letter-spacing: 0.5px;
	margin: 0;
}
.exp-subtitle {
	opacity: 0.54;
}
.exp-date {
	text-align: right;
	margin: 0;
}
.exp-main {
	text-align: left;
}
.exp-description {
	margin: 0;
}

/********** **********
* SECTION - ABILITIES
*********** **********/
#abilities .section-title,
#abilities .glyphicon {
	color: #2ecc71;
}
#abilities tr:hover .glyphicon:not(.glyphicon-gray) {
	color: #ff69b4;
}
#abilities p {
	font-size: 1em;
	text-align: left;
}
#abilities .glyphicon-gray {
	color: #ddd;
}
.ability-table-left {
	text-align: left;
	width: 50%;
}
.ability-table-right {
	text-align: right;
	width: 50%;
}


/********** **********
* SECTION - PROJECTS
*********** **********/
#projects .section-title {
	color: #e67e22;
}
.project {
	height: 200px;
	height: 16rem;
	margin-bottom: 2rem;
}
.project-card {
	width: 100%;
	height: 100%;
	padding: 1px;
	box-shadow: 0 1px 4px #000;
	background-color: #e67e22;
	color: #fff;
	position: relative;
}
.project-card:hover {
	cursor: pointer;
	box-shadow: 0 2px 8px #000; 
}
.project-image {
	width: 100%;
	height: 60%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	position: relative;
}
.project-image img {
	max-width: 80%;
	max-height: 80%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.project-title {
	font-size: 18px;
	margin-top: 1rem;
	font-family: 'Roboto', sans-serif;
}
.project-description {
	font-size: 14px;
}
.project-tags {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 12px;
	font-size: 0.75rem;
	margin: 0;
	padding-right: 4px;
	padding-right: 0.25rem;
}

/********** **********
*	    FOOTER
*********** **********/
.footer {
	min-height: 64px;
	min-height: 4rem;
	background: #34495e;
}

.contact {
	display: inline-block;
	list-style: none;
	width: 100%;
	height: 4rem;
	margin: 0;
	padding: 16px;
	padding: 1rem;
	line-height: 2rem;
}
#contact-info li {
	display: inline-block;
	color: #FFF;
}
#contact-links {
	text-align: right;
}
#contact-links li {
	display: inline-block;
	width: 32px;
	width: 2rem;
	height: 32px;
	height: 2rem;
	margin-left: 8px;
	margin-left: 0.5rem;
	cursor: pointer;
}

#resume-download {
	width: 100%;
	height: 4rem;
	padding: 1rem;
	line-height: 2rem;
	vertical-align: middle;
	text-align: center;
}
#resume-download a {
	text-decoration: none;
	color: #FFF;
	border: solid 2px #FFF;
	border-radius: 0.25rem;
	padding: 0.25rem;
}
#resume-download a:hover {
	border-color: #f1c40f;
}

.icon {
	background-size: cover;
}
.icon-github {
	background-image: url(../raw/GitHub-Mark-Light-64px.png);
}
.icon-linkedin {
	background-image: url(../raw/In-White-128px-TM.png);
}

/********** **********
*	 FLYOUT LINK
*********** **********/
#toCurrent {
	position: fixed;
    bottom: 3rem;
    right: 0;
    z-index: 10;
    padding: 0.5rem 0.75rem;
    background: #34495e;
    box-sizing: border-box;
    border: solid 1px #fff;
    color: #fff;
    border-right: none;
    cursor: pointer;
}
#toCurrent:hover {
	padding-right: 1rem;
	box-shadow: 0 0 4px #ccc;	
}