html,body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: 'Quicksand', sans-serif;
}

nav {
	text-transform: capitalize;
}

h2 {
	font-size: 48px;
	text-transform: uppercase;
	margin-bottom: 0px;
	box-shadow: 0px 1px 2px -2px;
	margin-bottom: 25px;
}

h3 {
	font-size: 24px;
}

p, td, a {
	font-size: 16px;
}

.navbar-brand {
	text-transform: uppercase;
}

#cube {
	display: inline-block;
	vertical-align: middle;
	padding: 8px;
}

#cube svg {
	display: block;
	margin: auto;
}


#navbar-links {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
}

.icon {
	margin: 5px;
	width: 32px;
	height: 32px;
}

.icon-github {
	background:	url(../raw/GitHub-Mark-64px.png);
	background-size: cover;
}

.icon-github:hover {
	background:	url(../raw/GitHub-Mark-Light-64px.png);
	background-size: cover;
}

.icon-linkedin {
	background:	url(../raw/In-Black-128px-TM.png);
	background-size: cover;
}

.icon-linkedin:hover {
	background:	url(../raw/In-White-128px-TM.png);
	background-size: cover;
}

#profile {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#name {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 72px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../raw/cover-min.jpg");
	background-size: cover;
	background-position: bottom;
}

#name h1 {
	margin: 0;
	color: #FFF;
}

#profile {
	text-align: center;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#profile>h2{
	color: #3498db;
}

#profile>p{
	font-size: 22px;
	text-transform: lowercase;
	font-style: italic;
	margin-bottom: 20px;
}

#profile .container {
	width: 100%;
}

#left-profile {
	text-align: right;
/*
	display: inline-block;
	vertical-align: middle;
	width: 15%;
*/
}

#profile .container h3 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	color: #3498db;
}

#mid-profile {
	text-align: center;
/*
	display: inline-block;
	vertical-align: middle;
	width: 50%;
*/
}

#profile-pic {
	display: inline;
}

#right-profile {
	text-align: left;
/*
	display: inline-block;
	vertical-align: middle;
	width: 15%;
*/
}

#experiences {
	padding-top: 65px;
	text-align: center;
	width: 75%;
	margin: auto;
}

#experiences>h2 {
	color: #e74c3c;
}

#experiences a {
	color: #e74c3c;	
	font-size: 16px;
}

#experiences .container {
	text-align: left;
	width: 100%;
}

#experiences .highlight {
	color: #e74c3c;
	font-style: italic;
}

.experience {
	display: block;
	text-align: left;
}

/*
.experience>div {
	display: inline-block;
	width: 35%;
	margin: 0 2%;
	vertical-align: top;
	text-align: left;
}
*/

.exp-name {
	font-weight: bold;
	margin-bottom: 0px;
}

.exp-subtitle {
	font-weight: bold;
	margin-bottom: 0px;
}

.exp-date {
	margin-bottom: 0px;
}

.exp-link, .exp-location {
	display: inline;
}

#abilities {
	padding-top: 65px;
	text-align: center;
	width: 75%;
	margin: auto;
}

#abilities .container {
	width: 100%;
}

#abilities>h2 {
	color: #2ecc71;
}

#abilities .glyphicon {
	color: #2ecc71;
}

#abilities .glyphicon-gray {
	color: #ddd;
}

.ability-table-left {
	text-align: left;
	width: 50%;
}

.ability-table-right {
	text-align: right;
	width: 50%;
}

#abilities tr:hover .glyphicon:not(.glyphicon-gray) {
	color: #ff69b4;
}