html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

body {
	padding-top: 50px;
	padding-top: 3.125rem;
}

nav {
	text-transform: capitalize;
}

h2 {
	font-size: 40px;
	font-size: 2.5rem;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-bottom: 25px;
	margin-bottom: 1.5625rem;
}

h3 {
	font-size: 24px;
	font-size: 1.5rem;
}

hr {
	width: 35%;
	border: solid 1px #000;
	margin: 0 auto;
	opacity: 0.12;
}

.info-section {
	text-align: center;
	width: 75%;
	margin: -50px auto 50px;
	margin: -3.125rem auto 3.125rem;
	padding-top: 100px;
	padding-top: 6.25rem;
}

.container {
	width: 100%;
}

.info-section>h2 {
	margin: 0 0 10px;
	margin: 0 0 0.625rem;
}

.navbar-brand {
	text-transform: uppercase;
}

#cube {
	display: inline-block;
	vertical-align: middle;
	padding: 8px;
	padding: 0.5rem;
}

#cube svg {
	display: block;
	margin: auto;
}


@media (max-width: 767px) {
	#navbar-options {
		display: none;	
	}
}

#name {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../raw/cover-min.jpg");
	background-size: cover;
	background-position: bottom;
	filter: saturate(1.25);
	-webkit-filter: saturate(1.25);
	margin-bottom: 50px;
	margin-bottom: 3.125rem;
}

#name h1 {
	margin: 0;
	color: #FFF;
	font-size: 80px;
	font-size: 5rem;
	
}

#profile {
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#profile>h2{
	color: #3498db;
	margin-bottom: 10px;
	margin-bottom: 0.625rem;
}

#profile>p{
	font-size: 22px;
	font-size: 1.375rem;
	text-transform: lowercase;
	font-style: italic;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

#profile .container {
	width: 100%;
}

#left-profile {
	text-align: right;
}

@media (max-width: 767px) {
	#left-profile {
		text-align: left;	
	}
}

#profile .container h3 {
	font-size: 24px;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #3498db;
}

#mid-profile {
	text-align: center;
}

#profile-pic {
	display: inline;
}

#right-profile {
	text-align: left;
}

#experiences {
}

#experiences>h2 {
	color: #e74c3c;
}

#experiences a {
	color: #e74c3c;	
}

#experiences .container {
	text-align: left;
	width: 100%;
}

#experiences .highlight {
	color: #e74c3c;
	font-style: italic;
}

.experience {
	display: block;
	text-align: left;
}

.exp-name {
	font-weight: bold;
	margin-bottom: 0;
}

.exp-subtitle {
	font-weight: bold;
	margin-bottom: 0;
}

.exp-date {
	margin-bottom: 0;
}

.exp-link, .exp-location {
	display: inline;
}

#abilities .container {
	width: 100%;
}
#abilities>h2 {
	color: #2ecc71;
}
#abilities .container>p {
	font-size: 1em;
	text-align: left;
}
#abilities .glyphicon {
	color: #2ecc71;
}
#abilities .glyphicon-gray {
	color: #ddd;
}
.ability-table-left {
	text-align: left;
	width: 50%;
}
.ability-table-right {
	text-align: right;
	width: 50%;
}

@media (min-width: 768px) and (max-width: 1107px) {
	table>tbody>tr>td.ability-table-left {
		display: block;
		width: 100%;
		border-top: solid 1px rgba(0, 0, 0, 0.12);
	}
	
	table>tbody>tr>td.ability-table-right {
		display: block;
		width: 100%;
		border-top: none;
		text-align: left;
	}
}

#abilities tr:hover .glyphicon:not(.glyphicon-gray) {
	color: #ff69b4;
}


#projects>h2 {
	color: #e67e22;
}
.project {
	height: 200px;
	height: 12.5rem;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	filter: gray;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}
.project:hover {
	filter: none;
	-webkit-filter: none;
	cursor: pointer;
}
.project:hover h3 {
	color: #FFF;
	background-color: rgba(230,126,34,0.8);
}
.project h3 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	color: #FFF;
	background-color: rgba(30,30,30,0.5);
}
#project-cubing {
	background-image: url("../raw/cubing.png");
}
#project-binger {
	background-image: url("../raw/binger.svg");
}
#project-cookiecoder {
	background-image: url("../raw/cookiecoder.gif");
}
#project-gis {
	background-image: url("../raw/cookiecoder.gif");
}

.footer {
	min-height: 64px;
	min-height: 4rem;
	background: #34495e;
}

.contact {
	display: inline-block;
	list-style: none;
	width: 100%;
	height: 4rem;
	margin: 0;
	padding: 16px;
	padding: 1rem;
	line-height: 2rem;
}
#contact-info li {
	display: inline-block;
	color: #FFF;
}
#contact-links {
	text-align: right;
}
#contact-links li {
	display: inline-block;
	width: 32px;
	width: 2rem;
	height: 32px;
	height: 2rem;
	margin-left: 8px;
	margin-left: 0.5rem;
	cursor: pointer;
}

.icon {
	background-size: cover;
}
.icon-github {
	background-image: url(../raw/GitHub-Mark-Light-64px.png);
}
.icon-linkedin {
	background-image: url(../raw/In-White-128px-TM.png);
}
