<div class="experience row">
    <div class="col-sm-6">
        <p class="exp-name"><%= name %></p>
        <p class="exp-date"><%= date %></p>
        <a href="<%= url %>" target="_blank" class="exp-link">Link</a>
        &#9679;
        <p class="exp-location"><%= location %></p>
    </div>
    <div class="col-sm-6">
        <% for(var cnt = 0; cnt < subtitles.length; cnt++){ %>
        <p class="exp-subtitle"><%= subtitles[cnt] %></p>
        <p class="exp-description"><%= descriptions[cnt] %></p>
        <% } %>
    </div>
</div>