// Colors
$true-white: #fff;
$true-black: #000;
$off-white: #f8f8f8;
$light-grey: #e0e0e0;

$primary: #47b2e8;
$primary-50: #e2f4fc;
$primary-800: #2a74ad;
$accent: #e87c47;

// Font
$font-size: 14px;
$font-stack-title: 'Raleway', sans-serif;
$font-stack-text: 'Roboto', sans-serif;

$line-height-default: 1.42857143;

// Media queries
$breakpoint-lg: 1006px;
$breakpoint-md: 768px;
$breakpoint-sm: 500px;

// Mixins
@mixin box-shadow {
    box-shadow: 0 2px 4px #e0e0e0;
}

@mixin box-shadow-heavy {
    box-shadow: 0 3px 6px #ccc;
}