{% extends "page_base.html" %}

<div class="card">
    <div class="card-icon">
        <img src="http://batten.virginia.edu/sites/all/themes/batten/favicon.ico" alt="UVA">
    </div>
    <div class="card-content-container">
        <div class="card-header">
            <h4 class="card-title">
                <a href="http://www.virginia.edu/" target="_blank">University of Virginia</a>
            </h4>
            <p class="card-date">Aug 2016 - (exp) May 2019</p>
        </div>
        <div class="card-main">
            <p class="card-subtitle">B.S. Computer Science & Statistics</p>
            <p class="card-description">Delving into reinforcement learning and text mining with other interests in machine learning, natural
                language processing, psychology, and statistics. My classes can be found on my
                <a href="raw/2018-06-17_transcript.pdf"
                    download="">transcript</a>.</p>
        </div>
    </div>
</div>