<div class="face">
    <div>
        <img src="https://d2iqcfl5v7wgs5.cloudfront.net/profile.png">
    </div>
</div>
<div class="contact">
    <div>    
        <h1>David Zhao</h1>
        <p>email: <a href="mailto:contact@davidzhao.me">contact@davidzhao.me</a></p>
        <p>phone: (281) 961-7541</p>
        <p>github: <a href="https://github.com/davidbzhao/">/davidbzhao</a></p>
        <p>linkedin: <a href="https://www.linkedin.com/in/davidbzhao/">/in/davidbzhao</a></p>
        <p>resume: <a href="/static/raw/DavidZhaoResume.pdf" target="_blank">PDF</a></p>
    </div>
</div>